# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.exe
.idea/
.vs/
x64/
AdventOfCode-2025.iml
AdventOfCode2025/x64/